* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	color: aliceblue;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 850px;
  padding-top: 20px;
}

.list {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.listItem {
  border: 2px solid #00D8FF;
  width: 200px;
  height: 200px;
  background-color: teal;
  border-radius: 20px;
	padding: 10px;
	margin-bottom: 10px;
}
